@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Lexend+Deca:wght@100..900&display=swap');


.reset-password-container{
    background: linear-gradient(221deg, #313715 59.21%, #BBCE8A 110.5%);
    width: 1285px;
    height: 630px;
    border-radius: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 20px;
}

.egg-reset {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 55%;
    left: 25.5%;
    max-width: 110px;

}
.triangle-reset1{
    position: absolute;
    bottom: 48.5%;
    left: 83.6%;
    width: 200px;
    height: auto;
}
.triangle-reset2{
    position: absolute;
    left: 1.8%;
    width: 200px;
    height: auto;
}
.reset-panel{
    background:  #FFF;

    width: 819px;
    height: 471px;
    flex-shrink: 0;
    border-radius: 20px;
    text-align: center;
    font-family: "Lexend Deca";
    color:  #313715;
}
.reset-panel h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    color:  #313715;
}
.reset-panel p{
    font-size: 16px;    
    margin-bottom: 5px;
}
.reset-line{
    top: 30.5%;
    width: 819px;   
    height: 2px;
    background: #000000;
}
.reset-box{
    display: flex;
    justify-content: left;
    margin-left: 45px;
    margin-top: 60px;
    margin-bottom: 10px;
    color: #564E58;
    font-weight: 500;
}
.input-box-reset{
    border-radius: 10px;
    border: 2px solid #564E58;
    background: #FFF;
    display: flex;
    margin-left: 45px;
    margin-right: 40px;
    width: 730px;
    height: 60px;
    padding: 13px 25px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    color: #564E58;
    font-family: "Lexend Deca";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.input-box-reset:focus{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.reset-btn{
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 30px;
    border-radius: 20px;
    background: var(--buttons, #D16014);
    width: 358px;
    height: 45px;
    padding: 10px;
    color: #FFF;
    font-family: "Lexend Deca";
    border-style: none;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.reset-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.reset-msg{
    margin-bottom: 40px;
    color: #564E58;
    font-size: 16px;
    font-weight: 500;
}
.reset-login{
    font-size: 16px;
    color: #564E58;
    font-family: "Lexend Deca";
}
.reset-login span{
    cursor: pointer;
    color: #0E1779;
    text-decoration-line: underline;
}
