@import url('https://fonts.googleapis.com/css2?family=Jersey+20&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Lexend+Deca:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #E2F9B8;
}
#root{
    width: 100%;
    padding: 40px;
}
.reset-password-container{
    z-index: 2;
    font-family: "Lexend Deca";
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1285px;
    height: 630px;
    padding: 20px;
    border-radius: 20px;
    background: linear-gradient(221deg, #313715 59.21%, #BBCE8A 110.5%);
}
.egg-reset {
    z-index: 2;
    position: absolute;
    width: 100%;
    top: 55%;
    left: 25.5%;
    max-width: 110px;

}
.triangle-reset1{
    position: absolute;
    bottom: 48.5%;
    left: 83.6%;
    width: 200px;
    height: auto;
}
.triangle-reset2{
    position: absolute;
    left: 1.8%;
    width: 200px;
    height: auto;
}

.reset-panel{
    max-width: 1000px;
    width: 800px;
    height: 450px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
}
.reset-panel h1{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 36px;
    color:  #313715;
}
.reset-panel p{
    font-size: 16px;    
    margin-bottom: 5px;
}
.reset-line{
    top: 30.5%;
    width: 100%;   
    height: 2px;
    background: #000000;
}
.reset-box{
    display: flex;
    justify-content: left;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #564E58;
    font-weight: 500;
}
.input-box-reset{
    padding: 15px;
    width: 90%;
    height: 10%;
    border-radius: 10px;
    border: 2px solid #564E58;
    background: #FFF;
    font-family: "Lexend Deca";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}

.input-box-reset:focus{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.reset-btn{
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 25px;
    border-radius: 20px;
    background: var(--buttons, #D16014);
    width: 50%;
    height: 45px;
    padding: 10px;
    color: #FFF;
    font-family: "Lexend Deca";
    border-style: none;
    transition: transform 0.3s ease,box-shadow 0.3s ease;
}
.reset-btn:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.reset-msg{
    margin-bottom: 40px;
    color: #564E58;
    font-size: 16px;
    font-weight: 500;
}
.reset-login{
    font-size: 16px;
    color: #564E58;
    font-family: "Lexend Deca";
}
.reset-login span:hover{
    cursor: pointer;
    color: #0E1779;
    text-decoration-line: underline;
    
}
@media (max-width: 600px){
    #root{
        padding: 10px;
        width: 100%;
    }
    .reset-password-container{
        padding: 10px; 
        max-width: 100%;
        height: 800px;
    }
    .reset-panel{
        padding-top: 10px;
    }
    .reset-panel h1{
        font-size: 20px;
    }
    .reset-panel p{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .reset-line{
        width: 100%;
    }
    .reset-box{
        margin-left: 20px;
        display: flex;
        justify-content: left;
        font-size: 16px;
    }
    .input-box-reset{
        font-size: 12px;
        margin-bottom: 20px;
    }
    .reset-btn{
        margin-top: 40px;
    }
    .reset-login{
        font-size: 12px;
    }
    .egg-reset{
        left: 0;
    }
    .triangle-reset1{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 76.5%;
        top: 10%;
        z-index: 1;
    }
    .triangle-reset2{
        position: absolute;
        z-index: 1;
        width: 100px;
        right:76.5%;
        bottom: 7%;
    }
}
